.video-respuesta {
  display: flex;
  justify-content: center;
  margin-right: 16%;
  position: relative;
  &:last-child{
    margin-right: 0;
  }
  &-active{
    .video-respuesta__header{
      height: 240px;
      display: block;
      padding-top: 12px;
    }
    .video-respuesta__video{
      height: 360px;
      width: 650px;
      opacity: 1;
    }
  }
}

.Modal{
  &__title{
    color: #262626;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    width: 289px;
  }
  &__text{
    margin-top: 12px;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 18px;
  }
  &__config{
    margin-left: 198px;
    background-color: #fff;
    color: #40A9FF;
    width: 130px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #40A9FF;
    border-radius: 4px;
    &:hover {
      color: white;
      background-color: #40A9FF;
    }
  }
}